.AuthLayout {
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.AuthCardLayout {
    box-shadow: 3px 3px 10px 2px  var(--gr);
    padding: 25px;
    border-bottom: 5px solid var(--cl);
    border-radius: 8% 2%;
}

.AuthHeading {
    font-family: "Montserrat";
    text-align: center;
    margin-bottom: 18px;
    color: var(--cl);
    text-shadow: 0.7px 0.7px 3px var(--gr);
    margin-top: 20px;
    font-weight: 700;
}


#title, #input-with-icon-textfield {
    color: var(--cl) !important;
}

.title {
    color: var(--cl) !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root, 
.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root,
.css-o943dk-MuiFormLabel-root-MuiInputLabel-root,
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root
{
    color: var(--cl) !important;
}

.css-1ptx2yq-MuiInputBase-root-MuiInput-root:after, 
.css-g9m4e0-MuiInputBase-root-MuiFilledInput-root:after{
    border-color: var(--cl) !important;
}

.AuthIcon {
    color: var(--cl);
}

#CircularProgress{
    color:white;
    margin-left:15px;
}

.createAccount {
    font-family: "Montserrat";
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#AuthButton {
    margin: 22px 0px;
    padding: 6px 25px;
    border: none;
    box-shadow: 1px 1px 10px var(--gr);
    border-radius: 25px;
    background: var(--cl);
    color: var(--login);
    text-align: center;
    font-size: 1rem;
}

#switchLogin {
    color: black;
}

#switch {
    color: var(--cl);
    font-weight: 700;
}