.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    margin-top: 50px;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #f5f5f5;
    align-items: unset;
    padding: 40px 0;
}

.container {
    width: 90%;
    max-width: 500px;
    min-height: 300px;
    padding: 15px 10px;
}

.task_container {
    margin: 10px auto;
    gap: 5px;
    cursor: pointer;
    width: 90%;
}

.task {
    flex-grow: 1;
    word-break: break-word;
    margin: 10px 0;
}

.line_through {
    text-decoration: line-through;
}

.Mui-checked,
.MuiCheckbox-indeterminate {
    color: var(--cl) !important;
    border-radius: 50% !important;
}
